/* Sticky footer styles
-------------------------------------------------- */
html {
  margin:0;
  padding:0;
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding:0;
  margin-bottom: 60px;
}
.footer {
  line-height:50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #224D73;
  color: #F2F2F2;
}

body{
	background-color: #F2F2F2;
}

.navbar-default{
	background-color: #224D73;
	color: #F2F2F2;
}

.navbar-default .navbar-nav > li >a{
	color: #F2F2F2;
}

.navbar-default .navbar-nav > li >a:hover{
	color: #A5A6A4;	
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #363B40;
	color: #F2F2F2;
}

.panel-default{
	border-color: #037353;
}

.panel-default > .panel-heading{
	background-color: #037353;
	color: #F2F2F2;
}

.row > h3{
	color: #224D73;
}

.footer > div > p > a{
	color: #F2B048;
}

.footer > div > p > a:hover{
	color: #A56C10;
}

.btn-default{
	border-color: #224D73;
	background-color: #224D73;
	color: #F2F2F2;
}